<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header class="jumbotron text-center text-white bg-info">
            <h1>Tic Tac Toe</h1>
        </header>
        <main role="main">
            @RenderBody()

            @if (TempData.Keys.Contains("message"))
            {
                <div class="row text-center p-2 text-white bg-success">
                    <label><strong>(Game Result)</strong></label>
                </div>
                <div class="row text-center mt-2">
                    <a asp-action="NewGame">New Game</a>
                </div>
            }
            else
            {
                <h2 class="text-center">(Player)'s turn</h2>
            }
        </main>
    </div>
</body>
</html>
